/* 
Syntax highlighting: Catppuccin Macchiato
https://github.com/catppuccin/catppuccin
*/

body {
    --code-background: #24273a;
    --code-white-space: pre;
    --code-size: 13px;
    --code-normal: #CAD3F5;
    --code-comment: #6E738D;
    --code-function: #8AADF4;
    --code-important: #C6A0F6;
    --code-keyword: #C6A0F6;
    --code-operator: #8BD5CA;
    --code-property: #8AADF4;
    --code-punctuation: #939AB7;
    --code-string: #A6DA95;
    --code-tag: #8AADF4;
    --code-value: #F5A97F;
}

.markdown-preview-view .token.token.parameter {
    color: #EE99A0;
}

.markdown-preview-view .token.arrow.operator {
    color: #C6A0F6;
}

.markdown-preview-view .token.hexcode.color {
    color: #CAD3F5;
}

.markdown-preview-view .token.class-name {
    color: #EED49F;
}

.markdown-preview-view .token.unit {
    color: #C6A0F6;
}

.markdown-preview-view .token.selector {
    color: #8AADF4;
}

.markdown-preview-view .token.token.builtin {
    color: #F5A97F;
}

.markdown-preview-view .token.console {
    color: #CAD3F5;
}
