/* 
Syntax highlighting: Monokai Sublime
https://github.com/highlightjs/highlight.js
*/

body {
	--code-background: #23241f;
	--code-white-space: pre-wrap;
	--code-size: 13px;
	--code-normal: #f8f8f2;
	--code-comment: #75715e;
	--code-function: #a6e22e;
	--code-important: #cb4b16;
	--code-keyword: #f92672;
	--code-operator: #f8f8f2;
	--code-property: #a6e22e;
	--code-punctuation: #f8f8f2;
	--code-string: #e6db74;
	--code-tag: #f8f8f2;
	--code-value: #ae81ff;
}

.markdown-preview-view .token.class-name {
	color: #f8f8f2;
}

.markdown-preview-view .token.boolean {
	color: #ae81ff;
}

.markdown-preview-view .token.console {
	color: #e6db74;
}

.markdown-preview-view .token.builtin,
.cm-s-obsidian span.cm-builtin {
	color: #e6db74;
}

.markdown-preview-view .token.variable,
.cm-s-obsidian span.cm-variable {
	color: #e6db74;
}
