/* 
Syntax highlighting: Tokyo Night Dark
https://github.com/enkia/tokyo-night-vscode-theme/tree/master
*/

body {
	--code-background: #1a1b26;
	--code-white-space: pre-wrap;
	--code-size: 14px;
	--code-normal: #9aa5ce;
	--code-comment: #51597d;
	--code-function: #ffcc66;
	--code-important: #ff6e6e;
	--code-keyword: #bb9af7;
	--code-operator: #9aa5ce;
	--code-property: #78dce8;
	--code-punctuation: #9aa5ce;
	--code-string: #a9dc76;
	--code-tag: #f7768e;
	--code-value: #ff9e64;
}

.markdown-preview-view .token.class-name,
.markdown-preview-view .token.function {
	color: #7dcfff;
}

.markdown-preview-view .token.console {
	color: #f7768e;
}
